* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h2 {
  margin-bottom: 10px;
}

/* --------------------------navigation bar start------------------ */
header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.nav-link {
  margin: 10px;
}

.navbar-logo {
  max-height: 80px;
  width: auto;
  object-fit: cover;
  display: block;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.751);
  color: white;
}

/* Desktop size */
@media (min-width: 992px) {
  .navbar {
    height: 70px;
  }

  .navbar-logo {
    max-height: 60px;
  }
}

/* Medium screens */
@media (max-width: 991px) and (min-width: 577px) {
  .navbar-logo {
    max-height: 60px;
  }
}

/* Mobile screens */
@media (max-width: 576px) {
  .navbar-logo {
    max-height: 60px;
  }
}

/* --------------------------navigation bar end------------------ */

/* --------------------------footer start------------------ */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;

  width: 100%;
  bottom: 0%;
}

/* --------------------------footer end------------------ */

/* --------------------------Landing Page start------------------ */
.landingBg {
  background: url("/static/media files/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.landingLogo {
  background-color: rgba(0, 0, 0, 0.751);
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  line-height: 0px;
  outline-style: outset;
  outline-color: #198754;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* --------------------------Landing Page end------------------ */

/* --------------------------Home Page start------------------ */
.homeBg {
  background: url("/static/media files/homeBg.jpg");
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* --------------------------Home Page end------------------ */

/* --------------------------About Page start------------------ */
.aboutPage {
  /* overflow: hidden; */
}

/* --------------------------About Page end------------------ */

/* --------------------------Contact Page start------------------ */

.contactBg {
  background: url("/static/media files/bg7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.contactForm {
  background-color: rgba(0, 0, 0, 0.751);
  color: white;
}

/* --------------------------Contact Page end------------------ */

/* ----------------------------Generator start-------------------- */

.gentextArea {
  /* Set the desired maximum height */
  max-height: 200px; /* You can use any unit: px, em, rem, etc. */

  /* Ensure vertical scrollbars appear automatically when needed */
  overflow-y: auto;

  /* Optional: You can also set a default height for when content is short */
  height: 250px;

  /* Optional: other styling like width, padding, border etc. */
  width: 100%;
  padding: 10px;
  box-sizing: border-box; /* Ensures padding/border are included in the width */
}

/* ----------------------------Generator end------------------------ */

/* --------------------------Notepad start------------------ */

.notepadBtn {
  position: fixed;
  bottom: 120px;
  left: 0;
  z-index: 1500;
  opacity: 0.5;
  transition: opacity 0.3 ease;
}

.notepadBtn:hover {
  opacity: 1;
}

.notepadTxtarea {
  max-height: 200px;
  height: 250px;
}

/* --------------------------Notepad end------------------ */

/* --------------------------Store finder start------------------ */

.storeFinderBtn {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 1500;
  opacity: 0.5;
  transition: opacity 0.3 ease;
}

.storeFinderBtn:hover {
  opacity: 1;
}
/* --------------------------Store finder end------------------ */

/* ------------------------ Calculator CSS Start ----------------------- */

.calculatorBtn {
  position: fixed;
  bottom: 220px;
  z-index: 1500;
  left: 0;
  opacity: 0.5;
  transition: opacity 0.3 ease;
}

.calculatorBtn:hover {
  opacity: 1;
}

.calcBody {
  font-family: Arial, sans-serif;
  display: flex;
  width: 100%;
  justify-content: center;
}

.calculator {
  background-color: #3e4444;
  padding: 30px;
  border-radius: 20px;
  max-width: 350px;
  width: 100%;
}

#display {
  width: 100%;
  height: 60px;
  font-size: 28px;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 0 15px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.calculator button {
  padding: 18px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.calculator button:hover {
  background-color: #198754;
  color: #ffffff;
}

.operator {
  color: #198754;
  border-color: #198754;
  background-color: rgb(255, 255, 255);
}

.wide {
  grid-column: span 2;
}

/* ------------------- Calculator CSS End ----------------- */

.bordered-box {
  width: 100%;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.751);
}

.field {
  margin-bottom: 10px;
}

.field label {
  display: block;
  font-size: 12px;
  color: #777;
}

.field input {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 14px;
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
/* rtl:end:ignore */

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -0.05rem;
}

.featurette {
  /* overflow: hidden; */
}

.feature-img {
  height: 500px;
  width: 500px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.card-text {
  max-height: 100px;
  overflow-y: auto;
  padding-right: 10px;
  margin-bottom: 10px;
}
