<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kusina Buddy</title>
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='media files/iconRobo2.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.13.1/font/bootstrap-icons.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="top"></div>

    <!---------------------- navbar ----------------------->

    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid navCon mx-3">
          <a class="navbar-brand" href="{{ url_for('index') }}">
            <img
              src="{{ url_for('static', filename='media files/logo.png') }}"
              alt="Logo"
              class="navbar-logo"
            />
          </a>
          <button
            class="navbar-toggler text-light"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <!-- <span class="navbar-toggler-icon"></span> -->

            <img
              src="{{ url_for('static', filename='media files/toggler.png') }}"
              alt=""
              width="40"
              height="40"
            />
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active btn text-white"
                  aria-current="page"
                  href="{{ url_for('home') }}"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active btn text-white"
                  aria-current="page"
                  href="{{ url_for('about') }}"
                  >About</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active btn text-white"
                  aria-current="page"
                  href="{{ url_for('contact') }}"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="homeBg" style="padding-top: 100px">
      <!------------------------ header --------------------->
      <div class="px-4 pt-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">
          Welcome to Kusina Buddy
        </h1>
        <p class="display-6 text-body-emphasis">
          Cook Smarter With AI. Use What You Have
        </p>
      </div>

      <!-------------------------- logo and Generator form --------------------->
      <div class="row d-flex pb-5 mx-5">
        <div
          class="col-lg-6 col-md-6 col-sm-12 d-flex flex-column justify-content-center align-items-center"
        >
          <!---------------- Logo ------------------->
          <div class="row">
            <div
              class="col-lg-6 col-md-6 col-sm-12 d-flex flex-column justify-content-center align-items-center"
            >
              <img
                src="{{ url_for('static', filename='media files/iconRobo2.png') }}"
                alt="Logo"
                width="100%"
                height="100%"
                style="object-fit: cover"
              />
            </div>
            <div
              class="col-lg-6 col-md-6 col-sm-12 d-flex flex-column justify-content-center align-items-center"
            >
              <h2 class="display-5 fw-bold text-body-emphasis">
                What are you cooking today?
              </h2>
              <p class="text-body-emphasis fs-5">
                Input your ingredients and let Kusina Buddy create a recipe
                instantly
              </p>
            </div>
          </div>
        </div>

        <!--------------------- Generator ---------------------->
        <div
          class="col-lg-6 col-md-6 col-sm-12 d-flex flex-column justify-content-center align-items-center mx-auto"
        >
          <div class="container">
            <div class="bordered-box py-5">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-outline-success me-md-2" type="button">
                  Generate
                </button>
                <button class="btn btn-outline-success" type="button">
                  Week Plan
                </button>
                <button class="btn btn-outline-success" type="button">
                  Reset
                </button>
              </div>
              <form
                class="row-cols-auto my-3 mx-auto"
                style="display: flex; align-items: center"
              >
                <div class="col-12 mx-auto">
                  <input
                    type="text"
                    class="form-control"
                    id="generateBox"
                    placeholder="Type here"
                  />
                </div>
              </form>
              <div class="d-flex col-12 mx-auto mb-3">
                <textarea
                  class="form-control flex-grow-1 gentextArea"
                  id="FormControlTextarea1"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-------------------- modal buttons for notepad and calculator and store finder------------------------>
      <div class="modals">
        <!------------------ Button trigger modal for Store Finder -------------------->
        <div class="container">
          <button
            type="button"
            class="btn storeFinderBtn"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop0"
          >
            <img
              src="{{ url_for('static', filename='media files/location.gif') }}"
              alt=""
              height="90"
              width="90"
              style="object-fit: contain"
            />
          </button>

          <!-- Modal -->
          <div
            class="modal fade p-5"
            id="staticBackdrop0"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">
                    Store Finder (Coming Soon)
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body mx-2 text-center">
                  <div class="container mx-auto">
                    <img
                      src="{{ url_for('static', filename='media files/storeFinder.gif') }}"
                      alt=""
                      height="250"
                      width="250"
                      style="object-fit: cover"
                    />
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="controls">
                    <button class="btn btn-secondary">New</button>
                    <button class="btn btn-outline-success">Find</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!------------------ Button trigger modal for notepad -------------------->
        <div class="container">
          <button
            type="button"
            class="btn notepadBtn"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop1"
          >
            <img
              src="{{ url_for('static', filename='media files/Note.gif') }}"
              alt=""
              height="110"
              width="90"
            />
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="staticBackdrop1"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">
                    Notepad
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <textarea
                      class="form-control flex-grow-1 notepadTxtarea"
                      id="text-editor"
                      placeholder="Start typing here..."
                    ></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="controls">
                    <button
                      class="btn btn-secondary"
                      id="new-btn"
                      onclick="newFile()"
                    >
                      New
                    </button>
                    <button
                      class="btn btn-outline-success"
                      id="save-btn"
                      onclick="saveFile()"
                    >
                      Save
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!------------------ Button trigger modal for calculator ----------------->
        <div class="container">
          <button
            type="button"
            class="btn calculatorBtn"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop2"
          >
            <img
              src="{{ url_for('static', filename='media files/calculator.gif') }}"
              alt=""
              height="90"
              width="90"
            />
          </button>

          <!-- Modal -->
          <div
            class="modal fade p-4"
            id="staticBackdrop2"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">
                    Calculator
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <div class="calcBody">
                    <div class="calculator">
                      <input
                        type="text"
                        id="display"
                        class="form-control"
                        placeholder="0"
                        readonly
                      />
                      <div class="buttons">
                        <button onclick="press('7')">7</button>
                        <button onclick="press('8')">8</button>
                        <button onclick="press('9')">9</button>
                        <button class="operator" onclick="press('/')">/</button>

                        <button onclick="press('4')">4</button>
                        <button onclick="press('5')">5</button>
                        <button onclick="press('6')">6</button>
                        <button class="operator" onclick="press('*')">x</button>

                        <button onclick="press('1')">1</button>
                        <button onclick="press('2')">2</button>
                        <button onclick="press('3')">3</button>
                        <button class="operator" onclick="press('-')">-</button>

                        <button onclick="press('0')">0</button>
                        <button onclick="press('.')">.</button>
                        <button class="operator" onclick="calculate()">
                          =
                        </button>
                        <button class="operator" onclick="press('+')">+</button>

                        <button class="wide" onclick="clearDisplay()">C</button>
                        <button class="wide" onclick="backspace()">⌫</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-outline-success"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!------------------- Footer -------------------->
    <footer class="footer">
      <p class="mx-3"></p>
      <a href="#top" style="text-decoration: none">
        <figure class="mx-3">
          <img
            src="../static/media files/up2.gif"
            alt=""
            height="50"
            width="50"
            style="object-fit: contain; background-color: transparent"
          />
          <figcaption class="text-center text-black">Top</figcaption>
        </figure>
      </a>
    </footer>

    <script
      src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.11/dist/dotlottie-wc.js"
      type="module"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
